.recipe-list__grid {
  padding-bottom: 10vh;
}

img {
  max-width: 95%;
  border: double;
  border-radius: 10px;
}

.recipe-item__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipe-item__recipe-name {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.recipe-item__new-recipe {
  text-decoration: none;
  color: inherit;
}