@import "../../variables";

form {
  width: 50%;
  margin: 0 auto;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 90px #00000024;
  font-size: 20px;
  border-radius: 15px;
  padding: 15px;
}

.user-portal__mode-toggle-container {
  display: flex;
  border: 1px solid;
  border-radius: 5px;
  background: gainsboro;
  padding: 5px;
  justify-content: space-evenly;
}

.user-portal__mode-toggle-container > button {
  font-size: 35px;
  flex: 1;
}

.active {
  background: silver;
}

.user-portal__input-container {
  margin-top: 15px;
}

.user-portal__input-container input, .user-portal__submit-btn {
  width: 100%;
  box-sizing: border-box;
  font-size: 1.2em;
  padding: 10px;
  border-radius: 5px;
}

@media only screen and (min-device-width: $small-screen) and (max-device-width: $medium-screen) {
  form {
    margin-top: 25%;
    width: auto;
  }
}

@media only screen and (max-width: $small-screen) {
  // styles for small screens (e.g. smartphones)
}

@media only screen and (min-width: $medium-screen) {
  // styles for medium screens (e.g. larger smartphones)
}

@media only screen and (min-width: $tablet-screen) {
  // styles for tablets and small desktop screens
}

@media only screen and (min-width: $desktop-screen) {
  // styles for larger desktop screens
}

@media only screen and (min-width: $large-screen) {
  // styles for extra-large screens (e.g. large desktop screens)
  form {
    width: 30%;
  }
}