.MuiGrid-container.recipe-form__input-wrapper {
  padding-bottom: 12vh;
  padding-top: 12vh;
  height: 100vh;
  margin-top: 0;
  margin-left: 0;
  max-width: 100%;
  overflow: scroll;
}
.MuiGrid-container.recipe-form__input-wrapper > div {
  padding-top: 15px;
}

.MuiGrid-container.recipe-form__input-wrapper::-webkit-scrollbar {
  display: none;
}

.recipe-form__grid-container--relative {
  position: relative;
}

.MuiButton-contained.recipe-form__continue-button--absolute {
  position: absolute;
  bottom: 20%;
  right: 10%;
}

input[type="file"] {
  display: none;
}