.recipe-list__grid {
  padding-bottom: 10vh;
}

.wrapper {
  margin: 10px 10px 0 10px;
  padding-bottom: 10vh;
}

img {
  max-width: 100%;
}

.recipe-item__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}