.recipe-list__grid {
  padding-bottom: 10vh;
}

img {
  max-width: 95%;
  border: double;
  border-radius: 10px;
}

.recipe-item__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}