/* Smartphones (portrait and landscape) ----------- */
.navbar-container {
  display: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .navbar-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #302E2b;
    position: fixed;
    bottom: -1px;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 70px;
  }
}
